/**
 * Pagination Style
 * @author fool2fish<fool2fish@gmail.com>
 */

.pagination {height:22px;margin-bottom:10px;}
.pagination .wrapper{float:right;}

.pagination  a{cursor:pointer;}

.pagination .info,
.pagination .start,
.pagination .prev,
.pagination .next,
.pagination .end,
.pagination .page,
.pagination .skip,
.pagination .data-limit{float:left;height:20px;margin-left:3px;line-height:20px;}

.pagination .skip-to{margin-left:6px;}
.pagination .skip-to input{width:32px;height:18px;margin:0 2px;line-height:20px;text-align:center;vertical-align:middle;border:1px solid #ccc;}
.pagination .skip-to button{margin-left:2px;height:22px;line-height:14px;vertical-align:middle;}

.pagination .data-limit{margin-left:10px;}
.pagination .data-limit select{margin-left:2px;vertical-align:middle;}
