/**
 * Message Style
 * @author fool2fish<fool2fish@gmail.com>
 */
			
.msg{margin-bottom:10px;}
.msg .default{padding:3px 5px;border:1px solid #ffcc7f;background:#ffffe5;position:relative;min-height:20px;_height:20px;}
.msg i{float:left;width:16px;height:16px;margin:1px 5px 1px 0;font-size:0;line-height:0;background:url(../assets/msg.png) no-repeat 0 -160px;}
.msg h4{display:inline;padding-right:2px;font-weight:bold;}
.msg .content{display:inline;}

.msg .error{border:1px solid #ff8080;background:#fff2f2;}
.msg .error i{background-position:0 0;}
.msg .stop{border:1px solid #ff8080;background:#fff2f2;}
.msg .stop i{background-position:0 -40px;}
.msg .question{border:1px solid #ffcc7f;background:#ffffe5;}
.msg .question i{background-position:0 -80px;}
.msg .attention{border:1px solid #40b3ff;background:#e5f5ff;}
.msg .attention i{background-position:0 -120px;}
.msg .tips{border:1px solid #ffcc7f;background:#ffffe5;}
.msg .tips i{background-position:0 -160px;}
.msg .ok{border:1px solid #4dbf00;background:#f0ffe5;}
.msg .ok i{background-position:0 -200px;}
.msg .notice{border:1px solid #ffcc7f;background:#ffffe5;}
.msg .notice i{background-position:0 -240px;}


.msg-strong .default{padding:6px 10px;min-height:40px;_height:40px;}
.msg-strong i{width:32px;height:32px;margin-right:10px;background-position:100% -160px;left:10px;top:6px;}
.msg-strong h4{display:block;margin-left:42px;padding:0;font-size:14px;}
.msg-strong .content{display:block;margin-left:42px;}

.msg-strong .error i{background-position:100% 0;}
.msg-strong .stop i{background-position:100% -40px;}
.msg-strong .question i{background-position:100% -80px;}
.msg-strong .attention i{background-position:100% -120px;}
.msg-strong .tips i{background-position:100% -160px;}
.msg-strong .ok i{background-position:100% -200px;}
.msg-strong .notice i{background-position:100% -240px;}


.msg-weak{margin-bottom:0;}
.msg-weak .default{padding:4px 6px;border:none;background:none;}
.msg-weak i{left:0;}

.msg-inline,
.msg-inline .default{display:inline-block;*display:inline;*zoom:1;}
