/**
 * Box Custom
 * @author fool2fish<fool2fish@gmail.com>
 */

.box-hd{border:1px solid #ddd;border-bottom:none;background:#f2f2f2 url(../assets/bg-repeatx.png) repeat-x 0 -10px;}
.box-bd{border:1px solid #ddd;background:#fff;}

.box-tp,
.box-tp b,
.box-bt,
.box-bt b{background:url(../assets/bg-repeatx.png) no-repeat -3px 0;}
.box-tp b{background-position:0 0;}
.box-bt{background-position:-3px -3px;}
.box-bt b{background-position:0 -3px;}