/**
 * Flowsteps Custom
 * @author fool2fish<fool2fish@gmail.com>
 */

.flowsteps ol{background:#e4e4e4}
.flowsteps li,
.flowsteps span{background:url(../assets/flowsteps.png) no-repeat 0 0;}
.flowsteps a{color:#f60;text-decoration:underline;}
.flowsteps .last{background-position:100% -92px;}
.flowsteps .current .last{
    /* background-color:transparent;background-position:100% -115px;
     * the upper statement it not suitable for opera
     * opera will convert float to int which is the max one that not greater than the primary float
     * so the primary background image cannot fill properly
     */
    background:url(../assets/flowsteps-for-opera.png) no-repeat 100% 0;
}
.flowsteps .done span{background-color: #ffe6ba;background-position: 0 -46px; color: #f60;}
.flowsteps .current,
.flowsteps .current span {background-color: #f60;background-position: 0 -46px;color: #fff;}
.flowsteps .next{background-position: 0 -23px;}
.flowsteps .next span{background-position:0 -22px;}
.flowsteps .next .last{background-position:100% -92px}
.flowsteps li .first{background-position:0 -69px}

